/*metric1*/
.st-emotion-cache-j5r0tf.st-emotion-cache-j5r0tf.e1f1d6gn3{ 
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10% 3% 5% 5%;
    border-radius: 5px;
    border-left: 0.5rem solid #43C749 !important;
    box-shadow: 0 0.15rem 0 rgba(58, 59, 69, 0.15) !important;
}

.st-emotion-cache-gz3mvp.e1nzilvr4{
    color: black !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


.st-emotion-cache-12w0qpk.e1f1d6gn3{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 3% 5% 5%;
    border-radius: 5px;
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 0 rgba(58, 59, 69, 0.15) !important;
}